<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default buffer-both">

      <div class="panel-heading">
        <h1 class="panel-title"><strong><%= t('.change_your_password', :default => 'Change your password') %></strong></h1>
      </div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div><%= f.label :password, t('.new_password', :default => 'New password') %><br />
              <%= f.password_field :password %></div>

            <div><%= f.label :password_confirmation, t('.confirm_new_password', :default => 'Confirm new password') %><br />
              <%= f.password_field :password_confirmation %></div>

            <div><%= f.submit t('.change_my_password', :default => 'Change my password') %></div>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>




