<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default buffer-both">

      <div class="panel-heading">
        <h1 class="panel-title"><strong><%= t('.forgot_your_password', :default => 'Forgot your password?') %></strong></h1>
      </div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>

            <div>
              <%= f.submit t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), class: 'btn btn-primary' %>
            </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
