<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default buffer-both">

      <div class="panel-heading">
        <h1 class="panel-title"><strong>Доступ только по пин-коду</strong></h1>
      </div>
      <div class="panel-body buffer-both">
        <%= form_tag('', method: 'post') do |f| %>
            <div class="form-group">
              <%= label :pincode, 'Пин-код' %>
              <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
            </div>

            <div class="actions">
              <%= submit_tag 'Сохранить', class: 'btn btn-primary' %>
            </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= link_to 'На главную', events_path %>
      </div>

    </div>
  </div>
</div>






